# Ignore everything by default
/*

# But do not ignore the modules directory
!/modules/

# Allow .gitignore itself
!.gitignore

# (Optional) Allow README.md if you want to keep it in GitHub
!README.md