# Variable values for this configuration

# AWS Configuration
aws_region     = "us-east-1"
aws_account_id = "AWS_ACCOUNT_ID" # Replace with your AWS account ID


naming_prefix = "fed-logs-testing"

# Log Partitions (table name => retention in days)
partitions = {
  default  = 7
  security = 30
  audit    = 90
}

# EKS OIDC Configuration for PCG Writer Role (supports multiple K8s clusters)
eks_oidc_arns = [
  "arn:aws:iam::YOUR_ACCOUNT_ID:oidc-provider/oidc.eks.REGION.amazonaws.com/id/CLUSTER1_ID",
  # "arn:aws:iam::YOUR_ACCOUNT_ID:oidc-provider/oidc.eks.REGION.amazonaws.com/id/CLUSTER2_ID",
]
eks_oidc_urls = [
  "oidc.eks.REGION.amazonaws.com/id/CLUSTER1_ID",
  # "oidc.eks.REGION.amazonaws.com/id/CLUSTER2_ID",
]

namespace = "newrelic"

service_account = "pcg-service-account"



